<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="education, Sarawak, Malaysia, non-profit, children, teaching, volunteer" />
<meta name="author" content="Teach Youth First" />
<link rel="icon" type="image/png" href="static/tyf.png" />
<link rel="apple-touch-icon" href="static/tyf.png" />
<link rel="stylesheet" href="styles.css?v=13" />
<link rel="stylesheet" href="interactions.css?v=13" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500;1,600&display=swap" rel="stylesheet" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
